@import url(https://fonts.bunny.net/css?family=space-grotesk:300,400,500,600,700);
@import url(https://fonts.bunny.net/css?family=pacifico:400);

:root{
  --background-color: #661467;
  --light-color:#fff;
  --orange-color:#d35400;
  --btn-color: #3ad5d5;
  --btn-hover: #2ea5a5;



  --lemon-zest: #d7f20c;
  --lilac-dream: #d285f2;
  --off-white: #ebf2f0;
  --lavender-mist: #4e54bf;
  --crimson-red: #a60311;
  --midnight-plum: #140826;


}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
