:root{
  --background-color: #661467;
  --light-color:#fff;
  --orange-color:#d35400;
  --btn-color: #3ad5d5;
  --btn-hover: #2ea5a5;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
