<div class="container" style="margin-top: 50px">
  <h3>Trending Destinations</h3>
  <p>Most popular choices for travelers from Sri Lanka</p>
  <div class="row">
    <div class="col-12 col-md-6 outer">
      <div class="inner slot-1">
        <h2>Kandy</h2>
      </div>
    </div>
    <div class="col-12 col-md-6 outer">
      <div class="inner slot-2">
        <h2>Nuwara Eliya</h2>
      </div>
    </div>

    <div class="col-12 col-md-4 col-lg-4 outer">
      <div class="inner slot-3">
        <h2>Colombo</h2>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4 outer">
      <div class="inner slot-4">
        <h2>Ella</h2>
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-4 outer">
      <div class="inner slot-5">
        <h2>Negambo</h2>
      </div>
    </div>
  </div>
</div>
