<div class="main-outer">
  <div class="container">
    <div class="inner-wrapper">
      <div class="logo-outer">
        <h1 class="logo">H&nbsp;&nbsp;
          o&nbsp;&nbsp;
          t&nbsp;&nbsp;
          e&nbsp;&nbsp;
          l&nbsp;&nbsp;
          -&nbsp;&nbsp;
          Z</h1>
      </div>
      <div class="tool-outer">
        <button class="login-btn" routerLink="/security/login">
          <mat-icon>manage_accounts</mat-icon>
          <span class="login-text">&nbsp;Access System</span>
        </button>
      </div>
    </div>
  </div>
</div>
