@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&display=swap');

.main-outer{
  width: 100%;
  height: auto;
  min-height: 50px;
  background-color: var(--background-color);
}

.inner-wrapper{
  //height: 100px;
  //border: 1px solid red;
  padding: 10px 0; //top bottom right left
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-btn{
  display: flex;
  align-items: center;
  border: none;
  background-color: rgba(255,255,255,0.2);
  color: var(--light-color);
  border-radius: 50px;
  padding: 5px 12px;
}

.logo{
  font-family: "BBH Sans Bogle", sans-serif;
  font-style: normal;
  color: var(--light-color);
  font-size: 50px;
}

@media only screen and (max-width: 400px) {
  .login-text{
    display: none;
  }
}
