.full-width{
  width: 100%;
}

.main-outer{
  padding: 50px 0; //top-bottom left-right
}

.btn{
  border: 1px solid var(--lavender-mist);
  width: 100%;
}

.separator{
  margin: 10px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
