.option{
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-right: 20px;
  border-color: white;
  padding: 5px 20px;
  background-color: rgba(255,255,255,0.2);
  color: var(--lilac-dream);
}

.option:hover{
  background-color: var(--light-color);
  color:var(--background-color);
  font-weight: bold;
}

.button{
  display: flex;
  margin-bottom: 10px;
}

.option-button{
  display: flex;
  align-items: center;
}

.main-outer{
  background-color: var(--midnight-plum);
}

