<div class="main-outer">
  <div class="container">
    <div class="option-button">
      <div class="button">
        <button class="option" >
          <mat-icon>hotel</mat-icon>
          <span class="option-name">&nbsp;Stays</span>
        </button>
        <button class="option" >
          <mat-icon>flight_takeoff</mat-icon>
          <span class="option-name">&nbsp;Flight</span>
        </button>
        <button class="option" >
          <mat-icon>directions_car</mat-icon>
          <span class="option-name">&nbsp;Car rental</span>
        </button>
        <button class="option" >
          <mat-icon>tab_recent</mat-icon>
          <span class="option-name">&nbsp;Activities</span>
        </button>
      </div>
    </div>
  </div>
</div>
