<div class="container">
  <h4>Offers</h4>
  <h6>Promotions, deals, and special offers for you.</h6>

  <div class="row">
    <div class="col-12">
      <div class="inner">
        <div class="inner-row">
          <p class="phara text">Late Escape Deals</p>
          <h4 class="bold-text text">
            Go for a good time, not a long time
          </h4>
          <p class="text">Squeeze out the last bit of sun with at least 15% off</p>
        </div>
      </div>
    </div>
  </div>

</div>
