.container{
  margin-top: 40px;
}

.inner{
  width: auto;
  height: 150px;
  background-image: url("https://q-xx.bstatic.com/xdata/images/xphoto/1080x308/591152843.jpeg?k=468bcc25489a1e4b2648eba9720840b9eb7d1c7243c3c2aae97a84fd7da6378c&o=");
}

.text{
  color: white;
  font-size: 10px;
  font-weight: normal;
  padding-left: 10px;

}

.phara{
  padding-top: 20px;
}

.bold-text{
  font-weight: bold;
  font-size: 20px;
}
