<div class="container">
  <div class="inner">
    <div class="element destination">
      <mat-icon>king_bed</mat-icon>
      &nbsp;
      <input placeholder="search here" type="search" class="search">
    </div>
    <div class="separator"></div>
    <div class="element dates">
      <mat-icon>date_range</mat-icon>
      &nbsp;
    </div>
    <div class="separator"></div>
    <div class="element visitors">
      <mat-icon>person</mat-icon>
      &nbsp;
      <span class="visitors-data">2 adults :</span>
      &nbsp;
      <span class="visitors-data">0 children :</span>
      &nbsp;
      <span class="visitors-data">1 room</span>
    </div>
    <div class="element"></div>
  </div>
</div>
