<div class="container">
  <div class="inner">
    <div class="element destination">
      <mat-icon>king_bed</mat-icon>
      &nbsp;
      <input placeholder="search here" type="search" class="search">
    </div>
    <div class="separator"></div>
    <div class="element dates">
      <mat-icon>date_range</mat-icon>
      &nbsp;
    </div>
    <div class="separator"></div>
    <div [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" class="element visitors">
      <mat-icon>person</mat-icon>
      &nbsp;<div>
      <span class="visitors-data">2 adults :</span>
      &nbsp;
      <span class="visitors-data">0 children :</span>
      &nbsp;
      <span class="visitors-data">1 room</span>
    </div>
      <mat-icon class="down-arrow">keyboard_arrow_down</mat-icon>
    </div>

    <mat-menu #menu="matMenu">
      <div class="visitor-widget">
        <div class="row-element">
          <div class="left-side">
            <span>Adults</span>
          </div>
          <div class="right-side">
            <div class="widget">
              <button class="min tool-btn">-</button>
              <span>5</span>
              <button class="max tool-btn">+</button>
            </div>
          </div>
        </div>
        <div class="row-element">
          <div class="left-side">
            <span>Children</span>
          </div>
          <div class="right-side">
            <div class="widget">
              <button class="min tool-btn">-</button>
              <span>4</span>
              <button class="max tool-btn">+</button>
            </div>
          </div>
        </div>
        <div class="row-element">
          <div class="left-side">
            <span>Rooms</span>
          </div>
          <div class="right-side">
            <div class="widget">
              <button class="min tool-btn">-</button>
              <span>5</span>
              <button class="max tool-btn">+</button>
            </div>
          </div>
        </div>
        <button class="done">Done</button>
      </div>
    </mat-menu>

    <div class="separator"></div>

    <div class="element search-button">
        <button class="search-btn">
          <mat-icon>search</mat-icon>
          Search
        </button>
    </div>
  </div>
</div>
