.inner{
  height: auto;
  min-height: 50px;
  background-color: var(--lemon-zest);
  padding: 5px;
  display: flex;
}

.destination{
  width: 30%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--light-color);
  padding: 5px;
  border-radius: 5px;

  mat-icon{
    color: gray;
  }
}

.search{
  flex: 1;
  height: 100%;
  border: none;
}

.search:focus{
  outline: none;
}

.dates{
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--light-color);
  padding: 5px;
  border-radius: 5px;
  mat-icon{
    color: gray;
  }
}

.separator{
  width: 5px;
}

.visitors{
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--light-color);
  padding: 5px;
  border-radius: 5px;
  justify-content: space-between;
  cursor: pointer;

  mat-icon{
    color: gray;
  }
}

.search-button{
  width: 25%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: var(--lavender-mist);
  border-radius: 5px;
  justify-content: end;
  cursor: pointer;

  mat-icon{
    color: var(--light-color);
  }

  button{
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 5px;
  }
}

.search-btn{
  flex: 1;
  background-color: var(--lavender-mist);
  color: white;
}

.visitor-widget{
  width: 250px;
  height: 160px;
  display: flex;
  padding: 5px;
  flex-direction: column;
}

.widget{
  height: 30px;
  border: 1px solid gray;
  width: 100px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}

.row-element{
  display: flex;
  height: 40px;
  align-items: center;
  padding: 10px;
}



.tool-btn{
  border: none;
  background: none;
  color: var(--background-color);
  border-radius: 100%;
  width: 20px;
  height: 20px;
}

.tool-btn:hover{
  background-color: rgba(6,81,221,0.2);
}

.right-side{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.done{
  padding: 10px;
  background-color: var(--btn-color);
  color: white;
  border-radius: 10px;
  border: none;

}

.done:hover{
  background-color: var(--btn-hover);
}

@media only screen and (max-width: 1200px){
  .destination{
    width: 30%;
  }
  .visitors{
    width: 30%;
  }
}@media only screen and (max-width: 992px){
  .destination{
    width: 100%;
  }
  .inner{
    flex-direction: column;
  }
  .separator{
    height: 5px;
  }
  .dates{
    width: 100%;
  }
  .visitors{
    width: 100%;
  }
  .search-button{
    width: 100%;
  }

}
